{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>
    {% if customer %}
      Edit Customer
    {% else %}
      Add New Customer
    {% endif %}
  </h2>

  {% if success %}
    <div class="flash success">
      {{ success }}
    </div>
  {% endif %}

  {% if error %}
  <div class="popup-error">
    {{ error }}
    <button onclick="this.parentElement.style.display='none'">✕</button>
  </div>
  {% endif %}


  <form method="post">

    <label>Name</label>
    <input type="text" name="name"
           value="{{ customer.customer_name if customer else '' }}"
           required>

    <label>Phone</label>
    <input type="tel"
          name="phone_number"
          pattern="[0-9]+"
          minlength="7"
          maxlength="15"
          placeholder="Enter phone number"
          title="Phone number must contain digits only"
          value="{{ customer.phone_number if customer else '' }}"
          required>

    <label>Email</label>
    <input type="email" name="email"
           value="{{ customer.email if customer else '' }}">

    <button type="submit">
      {% if customer %}
        Save Changes
      {% else %}
        Save Customer
      {% endif %}
    </button>

  </form>
</div>

{% endblock %}
